::-webkit-scrollbar{width:0.4em;height:0.8em;background-color: transparent;cursor: pointer}
::-webkit-scrollbar:hover{background-color:transparent;}
::-webkit-scrollbar-thumb{min-height:0.8em;min-width:1em;background-color:#2a2d31;}
::-webkit-scrollbar-thumb:hover{background-color: #171a1a}
::-webkit-scrollbar-thumb:active{background-color:#2a2d31}

[data-bs-theme=dark]{
    --bs-light-rgb: 59,66,72;
    --bs-body-bg:#343a40;
    --bs-link-color-rgb: 232,232,232;
    --bs-link-color: 232,232,232;
    --bs-link-hover-color-rgb: 194,194,194;
    --bs-body-color: #f2f2f2;
    --bs-secondary-color: #adb5bd;
    --lhc-page-content-wrapper-bg: none;
    --lhc-dashboard-card-header-bg: none;
    --lhc-main-menu-link-hover: var(--bs-link-hover-color-rgb);
    --lhc-main-menu-link: #e8e8e8;
    --lhc-nav-underline-nav-link:  #adb5bd;
    --lhc-nav-underline-nav-link-active-border: #63676b;
    --lhc-msg-body-response: #616161;
    --lhc-sidebar-li-active-link-bg: #2a2d31;
    --lhc-sidebar-li-border-bottom: #495057;
    --lhc-sidebar-wrapper-br: #63676b;
}

.sys-tit {
    background-color: #495057;
    color: #d4d0d0;
}

.nav {
    --bs-nav-link-hover-color: #c2c2c2;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #1e2125;
}

.btn-light{
    --bs-btn-color: #ababab;
    --bs-btn-active-color:  #fff;
    --bs-btn-hover-color: #fff;
}

.btn-block-department .btn-light:not(:disabled):not(.disabled).active,
.btn-block-department.show>.btn-light.dropdown-toggle,
.form-control.btn-light,
.btn-block-department .btn-light{
    background-color: #495057;
    border: 1px solid #343a40;
}

.dashboard-panels .form-control.btn-light,
.dashboard-panels .btn-block-department .btn-light:not(:disabled):not(.disabled).active,
.dashboard-panels .btn-block-department.show>.btn-light.dropdown-toggle,
.dashboard-panels .btn-block-department .btn-light,
.card-dashboard .form-control,
.card-dashboard .btn-secondary,
.card-dashboard .btn-block-department .btn-light:not(:disabled):not(.disabled).active,
.card-dashboard .btn-block-department.show>.btn-light.dropdown-toggle,
.card-dashboard .btn-block-department .btn-light{
    background-color: #393f44;
    border: 1px solid #343a40;
}

.btn-block-department label:hover {
    background-color: #495057;
}

.exp-cntr {
    color: #31708f;
    background-color: #495057;
    border:1px solid #63676b;
}

.exp-cntr:hover{
    background-color: #353c3f;
}

a:not([href]):not([class]), a:not([href]) {
    color: #9ea5ad;
}

.chat-tabs-row:not(.chat-tab-active):hover, .list-chat-table > tbody > tr:hover > td {
    background-color: #2a2d31 !important;
}

.form-control:active,
.form-control:focus,
.form-control{
    color: #FFF;
}

.chat-tab-active {
    background-color: #1e2125;
}

.chat-tabs-row:not(.chat-tab-active):hover,
.list-chat-table > tbody > tr:hover > td{
    background-color: #2a2d31 !important;
}

.border-right {
    border-right: 1px solid #63676b!important;
}
.canned-suggester,
.nav-pills>li>a:hover{
    background-color:#2a2d31;
}

.canned-list li.current-item a, .current-hash-content li.current-item, .canned-list a:hover {
    background-color: #676a6e;
}

.nav-pills>li>a {
    border: 1px solid #545454!important;
}

div.whisper-msg div.msg-body{
    background-color:#767676!important;
}

div.whisper-msg span.op-tit{
    color:#767676!important;
}

div.message-row-typing div.msg-body {
    background-color: #d0d0d0;
    color:#000!important;
}

.msg-date-op,
.msg-date-vi{
    background: #40464e;
    border: 1px solid #323232;
    color: #bcbcbc !important;
}


.reactions-toolbar{
    background: #9ea5ad;
}

.long-response-chat{
    background: #440d0e!important;
}

.online_user {
    background-color:#314a2d !important;
}

.edit-mode {
    background-color:#000000 !important;
}

.nav-underline a.nav-link.active {
    border-bottom: 3px solid #63676b;
}

.icon-user-online,
.icon-user-online a{
    color:#509646;
}

.user-online-row td{
    background-color:#314a2d;
}


