html,
body {

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

::-webkit-scrollbar{width:0.7em;height:0.8em;background-color:#fff;}
::-webkit-scrollbar:hover{background-color:#ddd}
::-webkit-scrollbar-thumb{min-height:0.8em;min-width:1em;background-color:#ddd; border-radius: 10px;    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb:hover{background-color:#bbb}
::-webkit-scrollbar-thumb:active{background-color:#888}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    border-radius: 10px;}

*:focus {
    outline: 0;
}

#myModal,
.modal-open{
	padding-right:0px !important;
}
#screenshotImage{
	max-width:100%;
}
.btrad-reset{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.btop-reset{
	border-top:0;
}

img{max-height:100%}

.validation-ul {
	padding-left:15px;
}

#widget-layout .validation-ul{
	font-size:12px;
}

.form-control{
	padding:6px;	
}

.group-by-user_country_name,
.up-case-first{
	text-transform: capitalize;
}

#widget-layout input[type=text]{
	height:30px;
}

#widget-layout textarea{
	height:50px;
}

#widget-layout .form-group{
	margin-bottom:5px;
}

#widget-layout .alert{
	margin-bottom:10px;
	font-size:12px;
}

#widget-layout textarea,
#widget-layout select{
	font-size:12px;
}

#widget-layout label{
	font-weight:normal;
	margin-bottom:2px;
}

h1 {
	margin-top:10px;
	font-size:28px;
}

.tr-msg{
	font-style: italic;
	display: block;
	background-color: #F4F3F3;
	border-radius: 10px;
	padding: 3px 6px;
	color: #4A4A4A;
}

.breadcrumb {
	margin-bottom:5px;
}

.no-wrap{
	white-space: nowrap;
}

.user-chatwidget-buttons{
	position:absolute;
	top:0;
	right:0;
}

.invisible-button{
	display:none;
}

.user-chatwidget-buttons:hover .invisible-button{
	display:inherit;
}

.trigger-button{
	padding-right:4px !important;
	padding-left:4px !important;
	border-bottom-left-radius: 15px;
}

.user-chatwidget-buttons:hover .trigger-button{
	display:none;
}

.user-chatwidget-buttons > ul {
	line-height:1;
}

a.icon-mail-send{
	color:green;
}

a.icon-mic-recording {
	color:red!important;
}

a:hover{
	text-decoration:none;
	cursor:pointer;
}

.mx170{
	max-height:170px;
	overflow:auto;
}

.mh150{
	min-height:150px;
}

.mb0{
	margin-bottom:0 !important;
}

.p10 {
	padding:10px;
}

.pl5{
	padding-left:5px;	
}

.pr5{
	padding-right:5px;	
}

.pb10 {
	padding-bottom:10px;
}

.pb0{
	padding-bottom:0px;
}

.border-grey {
	border:1px solid #CCC;
}

.pt5 {
	padding-top:5px;
}

#CSChatMessage {
	margin-bottom:0;	
}

.live-chat-message{
	padding-right:20px;
}

option.offline-dep{
	color:#970b0e;
}

.mt10 {
    margin-top:10px;
}

.mb6 {
	margin-bottom: 6px;
}

.mt0 {
    margin-top:0px;
}

.footer-row {
    border-top: 1px solid #CCC;
}

.footer-row p {
    padding: 10px;
    margin:0;
    font-size:12px;
}

.action-image {
    cursor:pointer;
}

/*Hide elements which should not be visible in right column*/
#right-column-page .right-action-hide {
	display:none;
}

#right-pending-chats p,
#right-active-chats p,
#right-unread-chats p,
#right-closed-chats p{
	font-size:0.75em;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.icon-user-status{
	color:#CCC;
}

.icon-user-online{
	color:#5da423;
}

.mb5 {
	margin-bottom: 5px;
}

.msgBlock{
	height:120px;
	overflow-y:auto;
	border: 1px solid #CCCCCC;
	padding:2px;
	resize: vertical;
	background-color:#FFF;
}

.msgBlock-admin{
	height:200px;
}

textarea[name=ChatMessage]{
	resize: vertical;
}

.msg-date {
	float:right;color:#7D7D7D;
	font-size:11px;
}

.usr-tit {
	font-weight:bold;
}

div.system-response {
	color:rgb(100, 100, 100);
}

div.message-row {
	padding:2px 2px;
	line-height:130%;
	transition: background-color 2000ms linear;	
}

div.message-row-in {
	padding:0px 2px 4px 2px;
}

.pt10 {
	padding-top:10px;
}

.status-row h5 {
	margin-top:0;
	margin-bottom:4px;
	padding-bottom:2px;
	border-bottom: 1px solid #CCC;
}

.online-users-table tr td{
    font-size: 12px;
}

.message-block,
#messages{position:relative;}
.message-block{
	font-size: 12px;
}

#messagesBlock .message-row .msg-date{
	display:none;
}

#messagesBlock .message-row:hover .msg-date{
	display:inherit;
}


#messages {
	font-size: 12px;
}

.start-chat-intro{
	font-weight:bold;
	margin-bottom:10px;
	font-size:15px;
}

.user-is-typing,
#id-operator-typing {
	visibility:hidden;
	font-style:italic;
    font-weight:bold;      
	line-height:140%;
	min-height:14px;   
    font-size:11px;
    text-overflow: ellipsis;
    overflow:hidden;
    text-align:right;
}


.button.very-tiny {
	padding:3px 5px;
}

.pt20 {
	padding-top:20px;
}

.admin-chat-mic{
	background:url(../images/icons/mic.gif) no-repeat center center;
}

.widget-options{
	width:50px !important;
}

.widget-options li a{
	padding-left:5px;
}

.pos-rel{
	position:relative;
}

.user-online-disabled {
	color: #ffb3b8;
}

.online-settings i{
	color:#a3ff60;
}

#bs-example-navbar-collapse-1 .icon-user,
#bs-example-navbar-collapse-1 .icon-cloud,
.user-settings-list .icon-cloud,
.user-settings-list .icon-user{
	color:#a3ff60;
}

#bs-example-navbar-collapse-1 .user-online-disabled,
.disabled-icon,
.user-settings-list .user-online-disabled {
	color: #ffb3b8 !important;
}

ul.user-settings-list {
	margin-bottom:0;
	margin-left:0;
}

ul.user-settings-list li{
	margin-left:0px;
	position:relative;
	z-index:98;
}

.float-break{height:1%}
.float-break:after{content:"-";height:0;font-size:0;visibility:hidden;display:block;clear:both}

.page-url {
	overflow:hidden;
	position:relative;
	height:15px;;
	margin-top:5px;
}

.page-url span{
	position: absolute;
	left: 0;
}

.page-url:hover {
	position:absolute;
	overflow:visible;
	z-index:9999;
}

.page-url:hover span {
	position:relative;
	border-radius:3px;
	border:1px solid #CCC;
	background-color:#FFF;
	padding:2px;
	-webkit-box-shadow: 3px 3px 12px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 12px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 12px rgba(50, 50, 50, 0.75);
	font-weight:bold;
}

ul.mb0 {
	margin-bottom:0;
}

.overflow-x-scrollbar,
.foot-print-content{
	overflow-x:auto;
	overflow-y:auto;
}

.foot-print-content li {
	font-size: 12px;
	white-space:nowrap;
	padding-bottom: 2px;
}

.msg-nm {
	font-weight:bold;
	color: #c60f13;
}

#ChatMessageContainer{
	position:relative;
}

.collapse-right,
.collapse-right:hover{
	position:absolute;
	right:0px;
	margin-top:-15px;
	color:#CCC;
}

.icon-close-chat{
	position: absolute;
	margin-right: -2px;
	display: inline !important;
	width: auto !important;
	right: 0;
	margin-top: -14px;
	padding: 0 !important;
	color:#CCC !important;
	font-size: 14px !important;
}

.icon-close-chat:hover{
	color:red !important;
}

.file-uploader {
	position:relative;
	cursor: pointer;
	overflow:hidden;
}

.file-uploader input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

.drop-zone{
	border:1px solid #2ba6cb;
	min-height:50px;
}

.drop-title{
	font-size:16px;
	color:#CCC;
	font-weight:bold;
	text-align: center;
	padding:20px;
}


.chat-pending{color:#99AC11;}
.chat-active{color:#5da423;}
.chat-unread{color:#c60f13;}
.chat-closed{color:#BB474A;}

.mb10{
	margin-bottom: 10px;
}

.return-user{
	font-size:24px;
}
.return-user{
	color:#448657;
}
.returned-user{
	color:#CCC;
}

.operator-info{
	background-color:#FFF;
	border:1px solid #D3D3D3;
	padding:5px;
	border-bottom:0;
	position: relative;
	z-index: 1;
	font-size: 12px;
	-webkit-box-shadow: inset 0px 1px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: inset 0px 1px 3px rgba(50, 50, 50, 0.2);
	box-shadow: inset 0px 1px 3px rgba(50, 50, 50, 0.2);
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.round-profile{
	border:1px solid #D3D3D3;
	border-radius:6px;
}

.operator-info img{
	border:1px solid #e7e7e7;
	border-radius:6px;
	max-width:50px;
}

.operator-info .icon-thumbs-down,
.operator-info .icon-thumbs-up{
	color:#CCC;
	cursor:pointer;
	font-size:16px;
}

.operator-info .down-voted,
.down-voted{
	color:#c60f13;
}

.operator-info .up-voted,
.up-voted{
	color:#5da423;
}

.pt5{
	padding-top:5px !important;
}

.pr5{
	padding-right:5px;
}

.pl10{
	padding-left:10px;
}

.pl20{
	padding-left:20px;
}

.pl15{
	padding-left:15px;
}

.icon-assistant{
	font-size:36px;
	color:#CCC;
}

.icon-skype{
	font-size:14px;
	color:#77C4DB;
}

#online-users-count{
	
	font-weight:bold;
}

.success-color,
#online-users-count {
	color:#457a1a;
}

.warning-color {
	color:#FCDA54;
}

.table-list .button {
	margin-bottom:0;
}

.screnshot-container {
	display:inline-block;
	max-width:100%;	
}

.screenshot-pending{
	background:url(../images/general/loading.gif) no-repeat center center;
	min-height:150px;
}

.bb-list{
	margin-left:0;
	margin-bottom:0;
}

.bb-list li{
		margin-left:2px;
		margin-bottom:2px;
}

.online_user {
	background-color:#E4FFE0 !important;
	transition: background-color 1000ms linear;	
}

.edit-mode,
.recent_visit {
	background-color:#E0F3FF !important;
	transition: background-color 1000ms linear;	
}

.edit-mode-done {
	background-color:#E0F3FF !important;
}

.bb-list a {
	padding:2px;
	display:inline-block;	
	border:1px solid #ccc;	 
	width:32px;
	height:32px;
}

.bb-list a:hover {
	background-color:#CECECE;
}

.max-width-180{
	max-width: 180px;
}


.f-dropdown-lang li{
	float:left;
	width:50%;		
}


input[type="file"]{
	font-size:12px;
}
.f-dropdown-lang li a{text-overflow: ellipsis;overflow:hidden;font-size:11px;}
.f-dropdown-lang:before {left:auto;right:10px;}
.f-dropdown-lang:after {left:auto;right:9px;}