input,textarea{font-size:11px;border:1px solid }
input.default-input-ctc{
border: 1px solid #7d7d7d;
background:#FFFFFF url(../images/coral/inputbg.gif) repeat-x top left;font-size:11px;padding:2px;width:300px;}
textarea{font-family:tahoma;}
table tr td{vertical-align:top;}
div.user-info-block{border: 1px solid #7d7d7d;padding:2px;background-color:#EEECF5;}
div.chatInitialized{font-weight:bold;}
div#container{width:100%;min-width:1%;}
div#mainartcont {min-height:20px; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(../images/tabs/images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }