.gbot-trglist{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.gbot-trglist > li {
    float:left;
    margin:0;
    padding-top:5px;
    padding-right:5px;
}

.gbot-group-name{
    border:0;
    box-shadow: none;
}

.dropdown-menu-trigger > li > a {
    padding-left:5px;
}

.gen-btn-list .btn{
    margin: 5px 5px 5px 0px;
}

.default-trigger-btn{
    background-color: #5cb85c87;
}