.section-container {
	background:#FFF;
	border: 1px solid #cccccc !important;
	padding:5px;
}

p.title a {
	border-bottom:1px solid #cccccc !important;
	color:#CCC;
	font-size:14px;
	color:#333333;
	display:block;
}