.json-container {
    font-family: consolas, menlo, monaco, "Ubuntu Mono", source-code-pro, monospace,'Tahoma', serif;
    font-size: 12px;
    color: #808080;
    box-sizing: border-box;

    .line {
        margin: 2px 0;
        display: flex;
        justify-content: flex-start;
    }

    .caret-icon {
        width: 18px;
        text-align: center;
        cursor: pointer;
    }

    .empty-icon {
        width: 18px;
    }

    .json-type {
        margin-right: 4px;
        margin-left: 4px;
    }

    .json-key {
        color: #444;
        margin-right: 4px;
        margin-left: 4px;
    }

    .json-index {
        margin-right: 4px;
        margin-left: 4px;
    }

    .json-value {
        margin-left: 8px;
    }

    .json-number {
        color: #f9ae58;
    }

    .json-boolean {
        color: #ec5f66;
    }

    .json-string {
        color: #86b25c;
    }

    .json-size {
        margin-right: 4px;
        margin-left: 4px;
    }

    .hidden {
        display: none;
    }

    .fas {
        display: inline-block;
        border-style: solid;
        width: 0;
        height: 0;
    }

    .fa-caret-down {
        border-width: 6px 5px 0 5px;
        border-color: #808080 transparent;
    }

    .fa-caret-right {
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent #808080;
    }
}

[data-bs-theme=dark] .json-container .json-key{
    color: #d1d1d1;
}