body {
	margin:7px;
	margin-right:8px;
	margin-bottom:0;
}

html{
	background: none;
}

body.embed-widget {
	background:none;
}

#widget-layout .row { min-width: 0;  }

.widget-chat #widget-layout {
	padding-top:0px;
}

.tr-msg{
    display: none;
}

::-webkit-scrollbar {
width: 0.7em;
height: 0.8em;
background-color: #fff;
}

::-webkit-scrollbar-thumb {
min-height: 0.8em;
min-width: 0.7em;
background-color: #ddd;
}

@media only screen and (max-device-width: 992px) {

	input[type='text'],
	select,
	input,
	a.btn,
	.control-label,
	#widget-layout textarea {
		font-size: 16px!important;
	}

	html,body,#widget-layout,#widget-layout > .col-12,#widget-content-body{
		height:100%;
		margin-top:0px!important;
		margin-bottom:0px!important;
		padding-bottom:0px!important;
		padding-top:0px!important;
	}

	.embed-fixed > #widget-layout,.embed-fixed > #widget-layout > .col-12,.embed-fixed #widget-content-body{
		height:auto;
	}

	body {
		padding-top:7px!important;
	}

	#widget-content-body {
		overflow-y: auto;
		overflow-x:hidden;
	}

	.fill-survey-container{
		padding-bottom: 14px;
		padding-right:5px;
	}

	#messages{
		font-size: 16px;
		position: absolute;
		width: 100%;
		bottom: 35px;
		top:61px;
		left: 0;
	}

	.usr-tit{
		font-size:16px;
	}

	#messagesBlockWrap,#messagesBlock{
		height:100%!important;
	}

	#widget-layout #status-chat h4{
		font-size:14px;
	}

	.msgBlock{
		border:0;
	}

	#messagesBlockWrap{
		position:relative;
	}

	#messagesBlock{
		height:auto!important;
		position:absolute;
		bottom:0px;
		right:0px;
		left:0px;
		max-height:100%!important;
	}

	#messagesBlock.read-operator-message{
		position:relative;
		bottom: auto;
	}

	.widget-modal-body #messages,.widget-modal-body #messagesBlock{
		position:relative;
		height:auto!important;
		max-height:auto!important;
		top:auto;
		bottom: auto;
	}

	#widget-layout > .col-12 .operator-info{
		height:auto;
		min-height: 61px;
	}

	.usr-tit{
		padding: 0px;
		font-weight:normal;
	}

	.has-chat #ChatMessageContainer {
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height:35px;
        background-color: #FFF;
        z-index: 2;
	}

    .widget-chat-box #ChatMessageContainer{
        height:90px;
    }

    .widget-chat-box #messages{
        bottom:90px;
    }

	#id-operator-typing{
		position: absolute;
		bottom: 35px;
		right:0;
		background-color: #FFF;
		border:1px solid #CCC;
		border-bottom:0;
		border-right:0;
		z-index:999;
		padding-left:3px;
	}

	#ChatMessageContainer textarea.live-chat-message{
		border:0;
		border-top:1px solid #CECECE;
		height: 35px;
		border-radius:0;
		min-height:35px;
		line-height: 170%;
		-webkit-appearance: none;
		box-shadow: none !important;
	}
	#ChatMessageContainer .dropup{
		border:0;
		border-top:1px solid #CECECE;
	}
}
