body {
	font-size: 12px;
	background:rgb(241, 241, 241);
}

#widget-layout .row { min-width: 0;  }

#widget-layout #status-chat{
	font-size:12px;
	margin:3px 0px 6px;
}

#widget-layout #CSChatMessage {
	font-size:12px;
}

::-webkit-scrollbar {
width: 0.7em;
height: 0.8em;
background-color: #fff;
}

::-webkit-scrollbar-thumb {
min-height: 0.8em;
min-width: 0.7em;
background-color: #ddd;
}



ul.accordion > li.active .content{
	padding:0px 15px 10px;
}

ul.accordion > li.active .content p{
	margin:0;
}

label,
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
{
	font-size: 12px;
}