body {
	margin:7px;
	margin-bottom:0;
}

html{
	background: none;
}

body.embed-widget {
	background:none;
}

#widget-layout .row { min-width: 0;  }

input.mb0 {
	margin-bottom:0;
}

input.mb5 {
	margin-bottom:5px;
}

input.mt5 {
	margin-top:5px;
}

.widget-chat #widget-layout {
	padding-top:0px;
}

#widget-layout #status-chat h4{
	font-size:12px;
	margin:3px 0px 6px;
}

#widget-layout #CSChatMessage {
	font-size:12px;
}

::-webkit-scrollbar {
width: 0.7em;
height: 0.8em;
background-color: #fff;
}

.chatbox-row{
	padding-right:0!important;
	margin-right:0!important;
}

.chatbox-row .usr-tit{
	display:block;
	border: 1px solid #dcdcdc;
	border-left:0;
	border-right:0;
	padding:5px;
	border-radius:6px;
	margin-bottom: 4px;
	font-size: 11px;
	background:url(../images/icons/user_green.png) no-repeat 3px 2px;
	padding-left: 20px;
	color:#000;
	margin-right:0!important;
	border-radius:0;
	box-shadow:none;
	margin-top:0;
}

.chatbox-row-response .usr-tit{
	background-image:url(../images/icons/user_suit.png);
}

::-webkit-scrollbar-thumb {
min-height: 0.8em;
min-width: 0.7em;
background-color: #ddd;
}

label,
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
{
	font-size: 12px;
}