{
  "presets": [
    "@babel/preset-react",
    [
      '@babel/preset-env',
      {
        modules: false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators", {
      "legacy": true
    } ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@images": "./assets/images"
        }
      }
    ]
  ]
}
