.user-chatwidget-buttons {
    right:unset;
    left:3px;
}

#ChatSendButtonContainer a i {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.desktop-header{
    text-align: right;
}

.op-tit{
    left:0;
}