article {
    // Basic font style definitions
    font-size:        12pt;
    font-family:      sans-serif;
    font-weight:      normal;
    font-style:       normal;
    line-height:      1.4;
    text-align:       left;
    text-decoration:  none;
    background-color: transparent;
    border:           0 solid #000;
    color:            #2e3436;

    // Basic page layout definitions
    text-columns: 1;
    text-column-spacing: 10mm;
    direction: ltr;

    // Initilize general properties
    padding: 0mm;
    margin: 0mm;

    // General text layout options
    orphans: 3;
    widows:  3;
}

page {
    page-size: A4;
    page-orientation: portrait;
    padding: 22mm 16mm;

    // Margin for pages specifies an additional outer border, which can be used
    // to cut if off later, f.e. in printing
    margin: 0mm;
}

para {
    border: none;
    margin: 3mm 0mm 1mm 0mm;
    padding: 0mm;
}

emphasis {
    font-weight: bold;
}

ulink {
    text-decoration: underline;
    color: #204a87;
}

link {
    text-decoration: underline;
    color: #204a87;
}

title {
    font-family: serif;
    font-weight: bold;
    color: #000000;
}

title {
    font-size: 32pt;
}

section > title {
    font-size: 24pt;
    text-columns: 1;
    margin: 10mm 0mm 4mm 0mm;
}

section > section > title {
    font-size: 20pt;
    text-columns: 1;
}

section > section > section > title {
    font-size: 18pt;
}

section > section > section > section > title {
    font-size: 16pt;
}

section > section > section > section > section > title {
    font-size: 14pt;
}

section > section > section > section > section > section > title {
    font-size: 12pt;
}

literallayout {
    border:           1mm solid #d3d7d5;
    background-color: #f5f5f6;
    padding:          1;
    font-size:        10pt;
    font-family:      monospace;
}

varlistentry > term {
    font-weight:      bold;
}

varlistentry > listitem {
    padding-left:     5mm;
    margin-bottom:    3mm;
}

orderedlist > listitem {
    padding-left:     10mm;
    margin-bottom:    3mm;
}

itemizedlist > listitem {
    padding-left:     10mm;
    margin-bottom:    3mm;
}

listitem > para {
    margin: 0mm 0mm 4mm 0mm;
}

blockquote {
    margin: 2mm 0mm 4mm 10mm;
}

blockquote > attribution {
    margin:     1mm 0mm 1mm 5mm;
    font-style: italic;
}

table {
    margin: 2mm 0mm;
    border: 1px solid #babdb6;
    padding: 0px 1px 1px 0px;
}

table entry {
    margin: 1px 0px 0px 1px;
    border: 1px solid #d3d7d5;
    padding: 1mm;
}

table thead entry {
    font-weight: bold;
}

