{
    "presets": [
        "env"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}