 // Example if you are using custom location for NodeJs
 also see location-node-js.png how settings could look like
 location /wsnodejs/ {
			  proxy_set_header X-Real-IP $remote_addr;
	          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	          proxy_set_header Host $http_host;
	          proxy_set_header X-NginX-Proxy true;
	    
	          proxy_pass http://127.0.0.1:31130/;
	          proxy_redirect off;
	          proxy_http_version 1.1;
	          proxy_set_header Upgrade $http_upgrade;
	          proxy_set_header Connection "upgrade";
}

// Example if you are using host for NodeJs
// Path in lhc in this case has to be just empty
server {
    listen         *:80;
    server_name     nodecobrowsing.livehelperchat.com;
    
    location / {
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          proxy_set_header X-NginX-Proxy true;
    
          proxy_pass http://127.0.0.1:31130/;
          proxy_redirect off;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
    }
}